$bgcolor: black;
$fgcolor: #00aaff;

.main {
    background-color: $bgcolor;
    color: $fgcolor;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.workspace-occupied {
    background-color: $bgcolor;
    color: gray;
}

.workspace-focused {
    background-color: $bgcolor;
    color: $fgcolor;
}

.clock {
    font-size: 20px;
}

.github {
    color: white;
}

.xmonad {
    .workspace {
        color: gray;

        &.current {
            color: #30bced;
        }
        &.hidden {
        }
        &.visible {
            color: #20aaaa;
        }
        &.urgent {
            color: #fc5130;
        }
    }
}
