#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slides
Exec=/nix/store/mmai1cvkh9l1igs20wr1r3490yrip9a8-google-chrome-84.0.4147.125/share/google/chrome/google-chrome --profile-directory=Default --app-id=aapocclcgogkmnckokdopfmhonfmgoek
Icon=chrome-aapocclcgogkmnckokdopfmhonfmgoek-Default
NoDisplay=true
StartupWMClass=crx_aapocclcgogkmnckokdopfmhonfmgoek
