#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=Self destructing Chromium browser with predefined profile
Exec=devium %f
GenericName=Development Chromium
Icon=chromium
Name=Devium
StartupWMClass=Devium
Terminal=false
Type=Application
Version=1.0
