#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=Self destructing Chromium browser with predefined profile
Exec=/home/juboba/.scripts/devium %f
GenericName=Development Chromium
Icon=devium
Name=Devium
StartupWMClass=Devium
Terminal=false
Type=Application
Version=1.0
